name: Docker Image CI

on:
  push:
    branches: [ "master" ]



jobs:
  
  build:
    name: build task
    runs-on: ubuntu-latest

    steps:
    - name: checkout
      uses: actions/checkout@v3
    
    - name: login to aws
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1
        
      
    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1
    
    - name: get vars
      id: vars
      shell: bash
      run: |
        echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"
      
    - name: grab ECR details build push 
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        ECR_REPOSITORY: itayshowips 
      run: |
        cd test-application
        pwd 
        docker build -f DockerFile . -t ${{ steps.login-ecr.outputs.registry }}/itayshowips/docker-nodeapp:showips_${{ steps.vars.outputs.branch }}_${{ steps.vars.outputs.sha_short }} -t ${{ steps.login-ecr.outputs.registry }}/itayshowips/docker-nodeapp:latest
        docker push ${{ steps.login-ecr.outputs.registry }}/itayshowips/docker-nodeapp:showips_${{ steps.vars.outputs.branch }}_${{ steps.vars.outputs.sha_short }} && docker push ${{ steps.login-ecr.outputs.registry }}/itayshowips/docker-nodeapp:latest
          

    
      

